{% trans_default_domain 'AMFOpenVpnBundle' %}

{% extends 'AMFOpenVpnBundle::layout.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta http-equiv='refresh' content='60' />
{% endblock meta %}

{% block amf_openvpn_content %}
    <div class="show-log-container">
        {% for key, server in servers %}
            {% include 'AMFOpenVpnBundle:ServerManagement:log_server.html.twig' with {'server' : server, 'server_number' : key} %}
        {% endfor %}
    </div>
{% endblock amf_openvpn_content %}
